body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    position: relative;
    height: 100vh;
    color: #0a0a0a;
    overflow: hidden;
}

.carousel-inner .carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-content {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: #ffffff;
    text-align: right;
    max-width: 400px;
    z-index: 10;
}

.hero-content h1.display-4 {
    font-size: 3rem;
}

.hero-content p.lead {
    font-size: 1.2rem;
}

.btn-warning {
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(11, 237, 68, 0.6);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.carousel-control-prev {
    left: 20px;
}

.carousel-control-next {
    right: 20px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
    background-size: 100%;
    width: 20px;
    height: 20px;
}

footer {
    background-color: #333;
    color: #ffffff;
    padding: 20px 0;
}

footer h5 {
    color: #f39c12;
}

footer .social-icons a {
    margin: 0 10px;
    color: #fff;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #f39c12;
}

nav.navbar {
    background: linear-gradient(90deg, #0A7075, #0C969C);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-brand {
    color: #ffffff !important;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #f39c12;
}

.navbar .btn-warning {
    background-color: #f39c12;
    color: #ffffff;
    border: none;
}

.navbar .btn-warning:hover {
    background-color: #e67e22;
    color: #ffffff;
}

.dropdown-menu {
    background-color: #0C969C;
}

.dropdown-menu .dropdown-item {
    color: #ffffff;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f39c12;
    color: #ffffff;
}